<div class="d-flex">


<div class="form-inline mr-auto">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label><input type="text" 
    class="form-control mr-2" 
    placeholder="buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>
<div>
  <button class="btn btn-outline-primary" (click)="novoEvento(template)">
    <i class="fa fa-plu-circle"></i>&nbsp;
    Novo evento
  </button>
</div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImagem()" >
        <i class="{{mostrarImagem ? 'fa fa-eye-slash': 'fa fa-eye'}}"></i>
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </tr>
</thead>
<tbody *ngIf="eventos && eventos.length">
  <tr *ngFor="let evento of eventosFiltrados">
    <td>
      <img *ngIf="mostrarImagem"
      src="http://localhost:5000/img/{{evento.imagemURL}}"
      [style.width.px]="imagemLargura"     
      [style.margin.px]="imagemMargem">    
    </td>
    <td>{{evento.id}}</td>
    <td>{{evento.tema}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
    <td>{{evento.qtdPessoas}}</td>
    <td>
      <Div *ngIf="!evento.lotes.length">
        Não informado
      </Div>
      <Div *ngIf="evento.lotes.length">
        {{evento.lotes[0].nome | uppercase}}
      </Div>
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-success" 
        tooltip="Editar" (click)="editarEvento(evento, template)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>      
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!eventos">
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum evento encontrado!
      </h4>
    </td>
  </tr>
</tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large moda</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': registerForm.controls['tema'].errors && registerForm.controls['tema'].touched}"
              formControlName="tema" placeholder="Insira o Tema">
              <div *ngIf="registerForm.controls['tema'].hasError('required') 
              && registerForm.controls['tema'].touched" class="invalid-feedback">
                Tema é obrigatorio
              </div>
              <div *ngIf="registerForm.controls['tema'].hasError('minlength') 
              && registerForm.controls['tema'].touched" class="invalid-feedback">
                Tema deve ter no minimo 4 caracteres
              </div>
              <div *ngIf="registerForm.controls['tema'].hasError('maxlength')
              && registerForm.controls['tema'].touched" class="invalid-feedback">
                Tema deve ter no maximo 50 caracteres
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid': registerForm.controls['local'].errors 
              && registerForm.controls['local'].touched}"
              formControlName="local" placeholder="">
              <div *ngIf="registerForm.controls['local'].hasError('required') 
              && registerForm.controls['local'].touched"
              class="invalid-feedback">
                Local é obrigatorio
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text" class="form-control" 
              bsDatepicker
              [bsConfig]="{dateInputFormat: 'DD/MM/YYYY hh:mm a'}"
              [ngClass]="{'is-invalid': registerForm.controls['dataEvento'].errors 
              && registerForm.controls['dataEvento'].touched}"
              formControlName="dataEvento" placeholder="">
              <div *ngIf="registerForm.controls['dataEvento'].hasError('required') 
              && registerForm.controls['dataEvento'].touched"
              class="invalid-feedback">
                Data e hora é obrigatorio
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input type="number" 
              [ngClass]="{'is-invalid': registerForm.controls['qtdPessoas'].errors 
              && registerForm.controls['qtdPessoas'].touched}"
              class="form-control is-invalid" formControlName="qtdPessoas" placeholder="">
              <div *ngIf="registerForm.controls['qtdPessoas'].hasError('required') 
              && registerForm.controls['qtdPessoas'].touched"
              class="invalid-feedback">
                Quantidade de pessoas  é obrigatorio
              </div>
              <div *ngIf="registerForm.controls['qtdPessoas'].hasError('max')
              && registerForm.controls['qtdPessoas'].touched"
              class="invalid-feedback">
                Quantidade de pessoas deve ser menor que 120 mil
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input type="text" 
              [ngClass]="{'is-invalid': registerForm.controls['imagemURL'].errors 
              && registerForm.controls['imagemURL'].touched}"
              class="form-control is-invalid" formControlName="imagemURL" placeholder="">
              <div *ngIf="registerForm.controls['imagemURL'].hasError('required') 
              && registerForm.controls['imagemURL'].touched"
              class="invalid-feedback">
                Imagem é obrigatorio
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input type="text" 
              [ngClass]="{'is-invalid': registerForm.controls['telefone'].errors 
              && registerForm.controls['telefone'].touched}"
              class="form-control is-invalid" formControlName="telefone" placeholder="">
              <div *ngIf="registerForm.controls['telefone'].hasError('required') 
              && registerForm.controls['telefone'].touched"
              class="invalid-feedback">
                Telefone é obrigatorio
              </div>
            </div>
            <div class="form-group col-md-8">
              <label>Email</label>
              <input type="text" 
              [ngClass]="{'is-invalid': registerForm.controls['email'].errors 
              && registerForm.controls['email'].touched}"
              class="form-control" formControlName="email" placeholder="">
              <div *ngIf="registerForm.controls['email'].hasError('required') 
              && registerForm.controls['email'].touched"
              class="invalid-feedback">
                Email é obrigatorio
              </div>
              <div *ngIf="registerForm.controls['email'].hasError('email') 
              && registerForm.controls['email'].touched"
              class="invalid-feedback">
                Email deve ser válido
              </div>
            </div>
          </div> 
        </form>
        
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>


